
.divOne{
  width: 600px;
  margin-top: 25px;
  margin-left: 10px;
}
.labelOne{
  font-size: 13px;
  font-style: italic;
  color: rgb(177, 177, 177);
}
.listOne{
  width: 600px;
  margin-left: 10px;
}